{% extends 'base.html' %}
{% block content %}
{%load static %}



<div class="container-fluid pt-5 bg-primary hero-header">
  <div class="container pt-5">
      <div class="row g-5 pt-5">
          <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
              <h1 class="display-2 text-white mb-4 animated slideInRight">Welcome {{request.user}}</h1>
          </div>
          <div class="col-lg-6 align-self-end text-center text-lg-end">
              <img class="img-fluid" src="{% static 'img/hero-img.png' %}" alt="" style="max-height: 300px;">
          </div>
      </div>
  </div>
</div> 


<form action ="" method="POST" novalidate>
    {% csrf_token %}
    <div class="form-group">
      <label>{{form.old_password.label}}</label>
      {% comment %} <label for="{{ form.old_password.id_for_old_password }}" class="form-label">Old Password</label> {% endcomment %}
      {{ form.old_password }}
      <span class="text-danger"> {{ form.old_password.errors|striptags }}</span>
    </div>
    <div class="form-group">
      <label>{{form.new_password1.label}}</label>
      {% comment %} <label for="{{ form.old_password.id_for_old_password }}" class="form-label">New Password</label> {% endcomment %}
      {{form.new_password1 }}
      <span class="text-danger"> {{ form.new_password1.errors|striptags }}</span>
    </div>
      <div class="form-group">
        <label>{{form.new_password2.label}}</label>
        {% comment %} <label for="{{ form.old_password.id_for_old_password }}" class="form-label">Confirm New Password</label> {% endcomment %}
        {{form.new_password2}}
        <span class="text-danger"> {{ form.new_password2.errors|striptags }}</span>
      </div>
    <button type="submit">change Password </button>
  </form>
 
  {% endblock %}