<script src="https://unpkg.com/htmx.org@1.9.2"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
 {%load static %}
{% load widget_tweaks %} 
<div id="choiceva">
    {% if forms %}
    {% if name == 'Excel' %}
    <label for="excel_column_value">Select the column name to analyze (only the first row in the first sheet will be read)</label>
    <select name="file_column" id="excel_column_value" required>
        <option value="">--Please choose an option--</option>
        {% for i  in choices %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
    </select><br>
    <label for="theme_t"> Theme Type </label>
    <select name="theme_type" id="theme_t" required>
        <option value="">--Please choose an option--</option>
        <option value="Codebook">Codebook</option>
        <option value="Essay">Essay</option>
    </select><br>
    <label for="theme_ins"> Theme Instruction </label>
    <textarea name="theme_instructions" rows="4" cols="50" placeholder="Additional instructions regarding your desired response"></textarea>

 
    {% elif name == 'ExcelCategory' %}
    <label for="excel_column_value_cat">Select the column name to analyze (only the first row in the first sheet will be read):</label>
    <select name="file_column" id="excel_column_value_cat" required>
        <option value="">--Please choose an option--</option>
        {% for i  in choices %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
    </select><br>
    <label for="categor"> Categories</label>
    <textarea name="categories" rows="4" cols="50" placeholder="Specify the categories (separated by commas):"></textarea>
    <label for="categor_ins"> Categories Instruction</label>
    <textarea name="categorize_instructions" rows="4" cols="50" placeholder="Categorize each text into one or more categories. Happy means elated and blessed. Sad means disappointed or grief. Neutral is anything in between.'""></textarea>

 {% else %}
    {% for f in forms %}
    {{f.label}}{{f}}{{f.errors|striptags}}<br>
    {% endfor %}
 {% endif %}
 {% endif %}



    
</div>

