{% load static %}
    <!-- navbar-->

    <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light navbar-blue p-0">
                <a href="{% url 'home' %}" class="navbar-brand">
                    <img alt="logo" src="https://raw.githubusercontent.com/ailyze/sample_data/main/logo.png" height="39" width="200">
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="/about" class="nav-item nav-link">About</a>
                        {% if not request.user.is_authenticated %}
                            <a href="/get-form" class="nav-item nav-link">Try Ailyze Lite</a>
                            {% else %}
                            <a href="/user-profile" class="nav-item nav-link">Try Ailyze Pro</a>
                        {% endif %}
                        <a href="/contact/" class="nav-item nav-link">Contact</a>
                        <!-- <butaton type="button" class="btn text-white p-0 d-none d-lg-block mx-2" data-bs-toggle="modal"
                        data-bs-target="#searchModal" ><i class="fa fa-search"></i></butaton> -->
                    {% if request.user.is_authenticated %}
                    <div class="nav-item dropdown">
                        <div class="nav-link dropdown-toggle user-icon" data-bs-toggle="dropdown"><i class="fa-solid fa-user"></i></div>
                        <div class="dropdown-menu bg-light mt-2 navbar-custom-dropdown ">
                            <!-- <a href="/user-profile" class="nav-item nav-link text-dark fs-6">Profile</a> -->
                            <a href="/change-password" class="nav-item nav-link">Change password</a>
                            <a href="/logout" class="nav-item nav-link">Logout</a>
                        </div>
                    </div>
                    
                    {% else %}
                    <div class="nav-item dropdown">
                        <div class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Sign in | Register</div>
                        <div class="dropdown-menu bg-light mt-2 navbar-custom-dropdown ">
                            <a href="/login" class="dropdown-item">Sign-In</a>
                            <a href="/register" class="dropdown-item">Register</a> 
                        </div>
                    </div>
                    {% endif %}


                       
                        
                    </div>
                    
                </div>
            </nav>
        </div>
    </div>  

      <!-- Full Screen Search Start -->
      <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(20, 24, 62, 0.7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn btn-square bg-white btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-light p-3 text-white "
                            placeholder="Type search keyword">
                        <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End --> 