{% extends 'base.html' %}
{% block content %}
{%load static %}
<!-- hero start -->
<div class="container-fluid pt-5 bg-primary hero-header">
    <div class="container pt-5">
        <div class="row g-5 pt-5">
            <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                <h1 class="display-2 text-white mb-4 animated slideInRight">Welcome {{request.user.username}}</h1>
            </div>
            <div class="col-lg-6 align-self-end text-center text-lg-end">
                <img class="img-fluid" src="{% static 'img/hero-img.png' %}" alt="" style="max-height: 300px;">
            </div>
        </div>
    </div>
</div> 
<!-- Hero End --> 

<div clas="container py-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="border shadow-sm my-5">
                <div class="card m-3">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="/get-form" class="btn btn-primary d-flex justify-content-center mx-5">AILYZE PRO </a>
                    </div>
                </div>
                <p class="py-3 px-3">
                <a class="btn btn-primary d-flex justify-content-center" data-bs-toggle="collapse" href="#collapseExample" hx-get="/view-list" hx-target="#list" role="button" aria-expanded="false" aria-controls="collapseExample">
                   View Past Questions and Answers 
            <span>       
             <span class="fa fa-caret-down px-1"> </span>
            </span> 
        </a>
    </p>
            <div class="collapse" id="collapseExample">
                <div id="list">
        
                </div> 
            </div>



</div>

        </div>
    </div>
</div>
</div>



{% endblock%}